<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp ~ Login Page</title>
  </head>

  <body style="font-size:20px; padding:50px;">
    <%- include partials/_header %>
    <form method="POST" action="/login" style="margin:150px;">
      <label> User Login: Email </label>
      <input type=email name="email" placeholder="your email" style="width: 300px">
      <input type=password name="password" value="login" placeholder="your password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
